<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <title>login</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
</head>
<body>
    <header style="background-color: #022B61; border-bottom: 3px solid #D2A92D">
            

        <div class="container">

            <div class="row align-content-center">
                <div class=" col">
                    <a href="">
                       
                    </a>
                </div>

                <div class="col-2">
                    <a href="#">
                       
                    </a>
                </div>
            </div>

        </div><div class="row align-content-center" style="background-color: #2e578c;">
        </div>
    </header>

	<!-- wea de login -->
    <section class="form-login">
	<form action="{{url_for('login')}}", method="post">
        <h5>inicio de sesion</h5>
        <input required type="text" class="controls" placeholder="name" name="name" id="name">
        <input required type="text" class="controls" placeholder="password" name="password" id="password">
        <button class="buttons" type="submit" >INICIAR</button>
        <p><a href="registro.html"> Registrate</a>
    </form>
    </section>



</body>
</html>



