<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Contactos</title>
		<link rel="stylesheet" href="{{url_for('static',filename = 'css/contactosS.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		
        <ul class="menu">
			<li><a href="pagina.html">Inicio</a></li>
			<li><a href="Especialidades.html">Especialidades</a></li>
			<li><a href="Servicio.html">Servicios</a></li>
			<li><a href="QuienesSomos.html">Quienes somos</a></li>
			<li><a href="contactos.html">Contactos</a></li>
			<li><a href="login.html">registro</a></li>
		</ul>

        <section class="buttons">
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>
            <a href="https://www.google.com/?hl=es" class="fa fa-google"></a>
            <a href="https://www.youtube.com/channel/UCx5px21p2AkGV-VAKt_hmbQ" class="fa fa-youtube"></a>
           
          </section>
    </body>
</html>

    
