<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Inicio</title>
		<link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css') }}">
	</head>
	<body>

		
        <ul class="menu">
			<li><a href="pagina.html">Inicio</a></li>
			<li><a href="Especialidades.html">Especialidades</a></li>
			<li><a href="Servicio.html">Servicios</a></li>
			<li><a href="QuienesSomos.html">Quienes somos</a></li>
			<li><a href="contactos.html">Contactos</a></li>
			<li><a href="cita.html">Registro</a></li>
			<li><a href="pacientes.html">Pacientes</a></li>
			<li><a href="citado.html">Cita</a></li>
		</ul>

		<h1>Clinica 
			<br>"EL Matasanos"</h1>

		
		
		<!-- imagenes del hospital-->
		<div class="centrado">
			<img id="img-center" src="https://fsi9-prod.s3.us-west-1.amazonaws.com/s3fs-public/styles/1200x630/public/gettyimages-black_doctor.jpg?itok=5RwLsVd3" alt="Recepcion Matasanos">
	    </div>
        

	</body>
   
</html>