<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Quiens somos</title>
		<link rel="stylesheet" href="{{url_for('static',filename = 'css/styleSo.css') }}">
	</head>
	<body>
		
        <ul class="menu">
			<li><a href="pagina.html">Inicio</a></li>
			<li><a href="Especialidades.html">Especialidades</a></li>
			<li><a href="Servicio.html">Servicios</a></li>
			<li><a href="QuienesSomos.html">Quienes somos</a></li>
			<li><a href="contactos.html">Contactos</a></li>
		    <li><a href="login.html">Registro</a></li>
		</ul>
        
        <h1>¿Quienes somos?</h1>

		<h2 id="text-center">Somos un Hospital comprometido con la sociedad Alteña en ofrecer la mejor atención médica, basándonos en la máxima calidad asistencial y la mejor accesibilidad. Contamos con profesionales altamente capacitados, equipo médico y tecnología de vanguardia, además de la alta calidad en nuestros servicios y la calidez y amabilidad de nuestro personal. El propio edificio y las instalaciones están diseñadas para facilitar el flujo inteligente y el bienestar de las personas, con la cual hacemos la diferencia. El objetivo principal es que nuestros pacientes obtengan la mayor experiencia posible, ofreciendo en cada momento la mejor respuesta a su demanda de salud.</h2>
		
		<!-- imagenes del hospital-->
		<div class="centrado">
			<img id="img-center" src="../static/images/quienes.jpg" alt="Sala de cirugia">
	    </div>
        <h1>MISIÓN</h1>
        <h2>Brindar servicios de Salud a los usuarios de manera eficiente y oportuna con altos estándares de calidad, seguridad, respeto y tecnología, ofreciendo atención humanizada en forma integral, contribuyendo para mejorar la salud y el bienestar de los pacientes.</h2>
        <br>
        <br>

        <h1>VISIÓN</h1>
        <h2>Ser un referente nacional por su calidad, organización, resultados y cultura en el sector salud, brindando atención integral y oportuna de manera global, estando a la vanguardia en tecnología e innovación de los sistemas de salud.</h2>
        <br>
        <br>

        <h1>FILOSOFÍA</h1>
        <h2>Estamos comprometidos con la calidad en el servicio, brindando la mejor atención, con calidez, respeto y empatía. Ser innovadores en tecnología actualizada. Tener comunicación abierta para lograr el éxito. Tomar las mejores decisiones analizadas y estudiadas para brindar el mejor servicio integral.</h2>

    </body>
</html>